<div class="">
    <div class="row">
        <div class="columns hide-for-small-only medium-4">
            <div afkl-lazy-image="https://s3.eu-west-2.amazonaws.com/2017.michael-smedley.co.uk/www/assets/img/pixel.gif 480w, https://s3.eu-west-2.amazonaws.com/2017.michael-smedley.co.uk/www/assets/img/profile.jpg" class="afkl-lazy-wrapper afkl-img-ratio-3-4"></div>
        </div>

        <div class="columns small-12 medium-8">
            <h1>I love to make things for the Internet</h1>

            <div class="column-text">
            <p>My name is Mike, I’m 31 and live in Preston. I have been working in the web industry since leaving university in 2007.</p>

            <p>My first job was working for Glasgows, where I learned the ins and outs of client driven work. I got to grips with client based HTML/PHP sites, MySQL use and production environment Subversion.</p>

<p>My first agency job was with Motionlab. Here I spent about 3 years learning CakePHP, WordPress, jQuery, LESS, Phonegap and GIT.  Clients included Cosatto, MSL Interiors and Conservatory Outlet.</p>

<p>Eventually Manchester called.  I joined MyClever Agency, leading a small development team. Here I helped develop an internal framework and process, making award winning social driven microsites for clients such as Visit England, Bench, Gumtree, Nikon and Sticky9.</p>

<p>I then returned to Motionlab for a year, working for clients such as AO, LiveLotto, Business Doctors and National Control. During this time I developed with Angular JS, the Ionic Framework and more in-depth WordPress development.</p>

<p>I am now part of the development team at Skiddle, helping maintain and improve the site to help make it the all-in-one stop for club, gig and festival ticket information.</p>

<p>Away from development I am a keen gamer (PS4 handle: mikeds), enjoy techno music, support Arsenal and love spending time with my wife and son.</p>
            </div>
        </div>
    </div>
</div>