<div class="">
    <div class="row">
        <div class="columns hide-for-small medium-4">
            <img src="http://placehold.it/480x480" />
        </div>

        <div class="columns small-12 medium-8">
            <h1>I love to make things for the Internet</h1>

            <div class="column-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsum non vero magnam quidem et perspiciatis iusto architecto nesciunt, repellat a dolore? A impedit sint aut, necessitatibus, delectus minus. Iusto amet, fuga! Blanditiis explicabo assumenda, aliquam accusamus aperiam nihil ipsa? Maiores eaque necessitatibus alias, blanditiis debitis explicabo nam non iure!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsum non vero magnam quidem et perspiciatis iusto architecto nesciunt, repellat a dolore? A impedit sint aut, necessitatibus, delectus minus. Iusto amet, fuga! Blanditiis explicabo assumenda, aliquam accusamus aperiam nihil ipsa? Maiores eaque necessitatibus alias, blanditiis debitis explicabo nam non iure!</p>
            </div>
        </div>
    </div>
</div>