<div class="">
    <div class="row ">

        <div class="columns">
            <h1 class="">{{workItem.title}}</h1>
            <p><a href="{{workItem.url}}" target="_blank" rel="noopener">{{workItem.url}}</a></p>

            <hr />

            <p><picture>
                <source srcset="//placehold.it/1200x480" media="(min-width: 64em)" />
                <source srcset="//placehold.it/768x300" media="(min-width: 40em)" />
                <source srcset="//placehold.it/480x480" media="(min-width: 39.9375em)" />
                <img src="//placehold.it/480x480" />
            </picture></p>
            
            <div class="row">
                <div class="columns small-12 large-10">
                    {{workItem.description}}
                </div>
                <div class="columns large-2 hide-for-small">
                    <ul class="listless tool-list">
                        <li ng-repeat="tool in workItem.tools">{{tool}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>