<div class="">
    <div class="row ">

        <div class="columns">
            <h1 class="">{{workItem.title}}</h1>
            <p><a href="{{workItem.url}}" target="_blank" rel="noopener">{{workItem.url}}</a></p>

            <hr />

            <p><lazy-image src='{{workItem.gallery}}'></lazy-image></p>
            
            <div class="row">
                <div class="columns small-12 large-10">
                    {{workItem.description}}
                </div>
                <div class="columns large-2 hide-for-small">
                    <ul class="listless tool-list">
                        <li ng-repeat="tool in workItem.tools">{{tool}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>