
    <div class="row columns">
        <h1>Get in touch</h1>

        <p>If you want to get in touch about anything - projects, advice, opinion, or just a general chat, just send an email to <a href="mailto:hello@michael-smedley.co.uk">hello@michael-smedley.co.uk</a>.</p>

        <p>I do of course have multiple social channels, such as:</p>

        <div class="column-text columns small-12 medium-6">
            <ul>
                <li><a href="https://twitter.com/smdly" target="_blank" rel="noopener">Twitter</a></li>
                <li><a href="https://www.instagram.com/mikesmedley/" target="_blank" rel="noopener">Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/smdly/" target="_blank" rel="noopener">LinkedIn</a></li>
                <li><a href="https://medium.com/@smdly/" target="_blank" rel="noopener">Medium</a></li>
                <li><a href="https://codepen.io/smdly/" target="_blank" rel="noopener">CodePen</a></li>
            </ul>
        </div>
    </div>
